:root {
    --card-width: 12%;
    --card-aspect-ratio: 10 / 14;
    --card-per-row: 8;
    --card-font-size: 2vw;
    --card-diagonal-font-size: 1.5vw;
    --card-padding: 10px;
    --card-border-radius: 10px;
}

@media screen and (max-width: 768px) {
    :root {
        --card-per-row: 6;
        --card-width: 16%;
        --card-font-size: 3vw;
        --card-diagonal-font-size: 2vw;
        --card-padding: 6px;
        --card-border-radius: 5px;
    }
}

.carta {
    // variabili
    --rosso: rgb(149, 46, 46);
    --nero: #111;
    --font-card-color: #dbe0ff;
    --bg-card: #1a1a20;
    --card-border-color-retro: #dbe0ff;
    // ---
    position: relative;
    margin: var(--vertical-margin) var(--orizzontal-margin);
    width: var(--card-width);
    aspect-ratio: var(--card-aspect-ratio);
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(27, 27, 27, 0.25);
    --orizzontal-margin: calc((100% - (var(--card-per-row) * var(--card-width))) / (var(--card-per-row) * 2));
    border-radius: var(--card-border-radius);
    --vertical-margin: 10px;
    transition: ease-in-out 0.4s;
    cursor: pointer;

    .fronte,
    .retro {
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        border-radius: var(--card-border-radius);
    }

    .fronte {
        --colore-simboli: var(--nero);
        // background-color: #f5f5f5;
        background: var(--bg-card);
        // background: linear-gradient(250deg, var(--bg-card) 0%, rgb(27, 31, 39) 100%);
        position: relative;

        /* SIMBOLI DIAGONALI */
        &:before,
        &:after {
            content: attr(value);
            font-family: var(--font-family);
            font-weight: bold;
            position: absolute;
            width: 12px;
            text-align: center;
            letter-spacing: -2px;
            font-size: var(--card-diagonal-font-size);
        }

        &:before {
            top: var(--card-padding);
            left: var(--card-padding);
        }

        &:after {
            bottom: var(--card-padding);
            right: var(--card-padding);
            transform: rotate(180deg)
        }

        &.colore {
            &.rosso {
                --colore-simboli: var(--rosso);
                color: var(--rosso);
            }

            &.nero {
                --colore-simboli: var(--font-card-color);
                color: var(--font-card-color);
            }
        }

        &.Cuori {

            &:before,
            &:after {
                content: attr(value) ' ♥';
                color: var(--colore-simboli);
            }
        }

        &.Quadri {

            &:before,
            &:after {
                content: attr(value) ' ♦️';
                color: var(--colore-simboli);
            }
        }

        &.Picche {

            &:before,
            &:after {
                content: attr(value) ' ♠️';
                color: var(--colore-simboli);
            }
        }

        &.Fiori {

            &:before,
            &:after {
                content: attr(value) ' ♣️';
                color: var(--colore-simboli);
            }
        }

        /* -------------- */

        .card__inner {
            box-sizing: border-box;
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: calc(4 * var(--card-padding));
            left: calc(4 * var(--card-padding));
            right: calc(4 * var(--card-padding));
            bottom: calc(4 * var(--card-padding));

            &.centered {
                justify-content: center;
            }

            .card__column {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;

                &.single {
                    margin: 0 auto;
                }

                &.centered {
                    display: flex;
                    justify-content: center;
                    gap: calc(2 * var(--card-width));
                }

                &.huge-symbol {
                    justify-content: none;

                    .card__symbol {
                        margin-top: calc(var(--card-font-size));
                        margin-bottom: auto;
                    }
                }
            }

            .card__symbol {
                font-size: calc(var(--card-font-size) * 1.25);

                // &.big {
                //     flex-basis: calc(0.35 * var(--card-width));
                // }
                
                // &.huge {
                //     flex-basis: calc(0.63 * var(--card-width));
                // }
            }
        }


        /* -------------- */

        .valore {
            font-size: var(--card-font-size);
            font-weight: bold;

            // &:last-of-type {
            //     transform: rotate(180deg);
            // }
        }

        .seme {
            font-size: calc(10px + var(--card-font-size));
        }

        .corner {
            position: absolute;
            width: var(--card-diagonal-font-size);
            height: var(--card-diagonal-font-size);

            &:first-of-type {
                top: var(--card-padding);
                right: var(--card-padding);
                transform: rotate(90deg);
            }

            &:last-of-type {
                bottom: var(--card-padding);
                left: var(--card-padding);
                transform: rotate(-90deg);
            }
        }
    }

    .retro {
        // border: calc(var(--card-padding) - 5px) solid var(--card-border-color-retro);
        transform: rotateY(0deg);
        opacity: 0;

        &.rosso {
            --c: var(--rosso);
            --l: rgb(221, 160, 160);
        }

        &.nero {
            --c: var(--nero);
            --l: #555;
        }

        --c: #111;
        --s: 30px;
        --_s: calc(2*var(--s)) calc(2*var(--s));
        --_g: 35.36% 35.36% at;
        --_c: #0000 66%,
        var(--l) 68% 70%,
        #0000 72%;

        background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    }

    &.coperta {
        .fronte {
            transform: rotateY(180deg);
            opacity: 0;
        }

        .retro {
            transform: rotateY(180deg);
            opacity: 1;
        }
    }
}