.pagina {
    display: block;
    margin: 0 auto;
    max-width: var(--game-height);
    width: 98%;
    max-width: 1000px;
}

.finestra {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    max-width: 95%;
    min-width: 75%;
    min-height: 50%;
    overflow-y: scroll;
    z-index: 7;
}

#bc_finestre,
#bc-stop-game,
#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: none;
}

#bc-stop-game {
    cursor: pointer;

    svg {
        width: calc((10vw + 10vh) / 2); 
    }
}

#loader {
    svg {
        width: calc((15vw + 15vh) / 2);
        animation: ease-out loader infinite 2s;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 5px;
}

.container {
    display: block;
    margin: 10px auto;
    width: 95%;
}

.flex {
    display: flex;

    &.y-center {
        align-items: center;
    }

    &.x-center {
        justify-content: center;
    }

    &.stretch {
        justify-content: stretch;
    }
}

.full {
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center;
}

p {
    display: block;
    margin: 10px auto;
    font-size: var(--p-font-size);
    line-height: 1.5;

    svg {
        width: calc(var(--p-font-size) + 4px);
    }
}

.btn {
    --bc-btn: #333;
    background-color: var(--bc-btn);
    color: var(--color);
    font-size: var(--p-font-size);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover {
        background-color: #303030;
    }

    &.square {
        padding: 12px;
    }

    &.xl {
        font-size: calc(var(--p-font-size) + 10px);
        padding: 12px 17px;

        svg {
            width: calc(var(--p-font-size) + 14px);
        }
    }

    &.switch {
        // off

        &.on { // on
            background-color: var(--rosso);
        }
    }

    svg {
        width: calc(var(--p-font-size) + 4px);
    }

    &.last {
        margin-left: auto;
    }

    &.trasparente {
        background-color: transparent;

        &:hover {
            background-color: rgba(51, 51, 51, 0.4);
        }
    }

    &.danger {
        background-color: #ab2f2f;
    }

    &.circle {
        padding: 15px;
        border-radius: 50%;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.btn-group {
    margin: 10px 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.btn-sequence {
    display: inline-flex;

    &.flex {
        display: flex;

        .btn {
            flex-grow: 1;
        }
    }

    .btn {
        border-radius: 0;
        border-right: 1px solid var(--hr-color);
    }

    .btn:first-of-type {
        border-radius: 10px 0 0 10px;
    }

    .btn:last-of-type {
        border-radius: 0 10px 10px 0;
        border: none;
    }
}

hr {
    display: block;
    margin: 10px auto;
    width: 95%;
    height: 1px;
    border: none;
    background-color: var(--hr-color);
}

.input {
    background-color: rgba(51, 51, 51, 0.4);
    color: var(--color);
    padding: 10px 5px;
    border: 1px solid var(--hr-color);
    border-radius: 5px;
    font-size: var(--p-font-size);
    font-family: var(--font-family);
}

.glass {
    background-color: var(--bc-finestra);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
}

.col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .row {
        flex-grow: 1;
        margin: 5px;
        border-right: 1px solid var(--hr-color);

        &:last-of-type {
            border: none;
        }
    }
}