#display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bc);
    overflow-y: scroll;
    padding-bottom: 150px;
}

#game {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.cont-vite {
    display: flex;
}

#vite_dealer,
#vite {
    font-size: 2.5em;
}

#log {
    display: block;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    font-size: 1.17em;
    max-height: 150px;
    gap: 10px;
    overflow: scroll;
    border-top: 1px solid var(--hr-color);
    border-bottom: 1px solid var(--hr-color);

    &::-webkit-scrollbar {
        display: none;
    }
}

.gadgets-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 10px 0;

    .btn {
        padding: 5px;
        font-size: 2.5em;
        border-radius: 7px;
    }
}

#gadgets_dealer {
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: transparent;
    }
}

#fixed_deck {
    position: fixed;
    // width: var(--card-width);
    // aspect-ratio: var(--card-aspect-ratio);

    .carta {
        position: fixed;
        bottom: 10px;
        right: 30px;
    }
}

#death_screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
}