@charset "UTF-8";
/*
cd card_roulette/css
cd css
sass --watch main.scss:main.css
*/
:root {
  --bc: #2b4d2c;
  --color: #fff;
  --bc-finestra: rgba(17, 17, 17, 0.8);
  --font-family: "Courier New", Courier, monospace;
  --p-font-size: 18px;
  /* colori */
  --rosso: rgb(149, 38, 38);
  /* palette */
  --c1: var(--rosso);
  --hr-color: #eee;
}

html {
  background-color: var(--bc);
  color: var(--color);
}

* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.pagina {
  display: block;
  margin: 0 auto;
  max-width: var(--game-height);
  width: 98%;
  max-width: 1000px;
}

.finestra {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 95%;
  max-width: 95%;
  min-width: 75%;
  min-height: 50%;
  overflow-y: scroll;
  z-index: 7;
}

#bc_finestre,
#bc-stop-game,
#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none;
}

#bc-stop-game {
  cursor: pointer;
}
#bc-stop-game svg {
  width: calc((10vw + 10vh) / 2);
}

#loader svg {
  width: calc((15vw + 15vh) / 2);
  animation: ease-out loader infinite 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}

.container {
  display: block;
  margin: 10px auto;
  width: 95%;
}

.flex {
  display: flex;
}
.flex.y-center {
  align-items: center;
}
.flex.x-center {
  justify-content: center;
}
.flex.stretch {
  justify-content: stretch;
}

.full {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

p {
  display: block;
  margin: 10px auto;
  font-size: var(--p-font-size);
  line-height: 1.5;
}
p svg {
  width: calc(var(--p-font-size) + 4px);
}

.btn {
  --bc-btn: #333;
  background-color: var(--bc-btn);
  color: var(--color);
  font-size: var(--p-font-size);
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.btn:hover {
  background-color: #303030;
}
.btn.square {
  padding: 12px;
}
.btn.xl {
  font-size: calc(var(--p-font-size) + 10px);
  padding: 12px 17px;
}
.btn.xl svg {
  width: calc(var(--p-font-size) + 14px);
}
.btn.switch.on {
  background-color: var(--rosso);
}
.btn svg {
  width: calc(var(--p-font-size) + 4px);
}
.btn.last {
  margin-left: auto;
}
.btn.trasparente {
  background-color: transparent;
}
.btn.trasparente:hover {
  background-color: rgba(51, 51, 51, 0.4);
}
.btn.danger {
  background-color: #ab2f2f;
}
.btn.circle {
  padding: 15px;
  border-radius: 50%;
}
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn-group {
  margin: 10px 0;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.btn-sequence {
  display: inline-flex;
}
.btn-sequence.flex {
  display: flex;
}
.btn-sequence.flex .btn {
  flex-grow: 1;
}
.btn-sequence .btn {
  border-radius: 0;
  border-right: 1px solid var(--hr-color);
}
.btn-sequence .btn:first-of-type {
  border-radius: 10px 0 0 10px;
}
.btn-sequence .btn:last-of-type {
  border-radius: 0 10px 10px 0;
  border: none;
}

hr {
  display: block;
  margin: 10px auto;
  width: 95%;
  height: 1px;
  border: none;
  background-color: var(--hr-color);
}

.input {
  background-color: rgba(51, 51, 51, 0.4);
  color: var(--color);
  padding: 10px 5px;
  border: 1px solid var(--hr-color);
  border-radius: 5px;
  font-size: var(--p-font-size);
  font-family: var(--font-family);
}

.glass {
  background-color: var(--bc-finestra);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
}

.col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.col .row {
  flex-grow: 1;
  margin: 5px;
  border-right: 1px solid var(--hr-color);
}
.col .row:last-of-type {
  border: none;
}

:root {
  --card-width: 12%;
  --card-aspect-ratio: 10 / 14;
  --card-per-row: 8;
  --card-font-size: 2vw;
  --card-diagonal-font-size: 1.5vw;
  --card-padding: 10px;
  --card-border-radius: 10px;
}

@media screen and (max-width: 768px) {
  :root {
    --card-per-row: 6;
    --card-width: 14%;
    --card-font-size: 4vw;
    --card-diagonal-font-size: 2vw;
    --card-padding: 6px;
  }
}
.carta {
  --rosso: rgb(197, 29, 29);
  --nero: #111;
  --font-card-color: #151515;
  --bg-card: #fff;
  position: relative;
  margin: var(--vertical-margin) var(--orizzontal-margin);
  width: var(--card-width);
  aspect-ratio: var(--card-aspect-ratio);
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(27, 27, 27, 0.25);
  --orizzontal-margin: calc((100% - (var(--card-per-row) * var(--card-width))) / (var(--card-per-row) * 2));
  border-radius: var(--card-border-radius);
  --vertical-margin: 10px;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.carta .fronte,
.carta .retro {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: var(--card-border-radius);
}
.carta .fronte {
  --colore-simboli: var(--nero);
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* SIMBOLI DIAGONALI */
  /* -------------- */
  /* -------------- */
}
.carta .fronte:before, .carta .fronte:after {
  content: attr(value);
  font-family: var(--font-family);
  font-weight: bold;
  position: absolute;
  width: 12px;
  text-align: center;
  letter-spacing: -2px;
  font-size: var(--card-diagonal-font-size);
}
.carta .fronte:before {
  top: var(--card-padding);
  left: var(--card-padding);
}
.carta .fronte:after {
  bottom: var(--card-padding);
  right: var(--card-padding);
  transform: rotate(180deg);
}
.carta .fronte.colore.rosso {
  --colore-simboli: var(--rosso);
  color: var(--rosso);
}
.carta .fronte.colore.nero {
  --colore-simboli: var(--font-card-color);
  color: var(--font-card-color);
}
.carta .fronte.Cuori:before, .carta .fronte.Cuori:after {
  content: attr(value) " ♥";
  color: var(--colore-simboli);
}
.carta .fronte.Quadri:before, .carta .fronte.Quadri:after {
  content: attr(value) " ♦️";
  color: var(--colore-simboli);
}
.carta .fronte.Picche:before, .carta .fronte.Picche:after {
  content: attr(value) " ♠️";
  color: var(--colore-simboli);
}
.carta .fronte.Fiori:before, .carta .fronte.Fiori:after {
  content: attr(value) " ♣️";
  color: var(--colore-simboli);
}
.carta .fronte .card__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carta .fronte .card__column--centered {
  justify-content: center;
}
.carta .fronte .valore {
  font-size: var(--card-font-size);
  font-weight: bold;
}
.carta .fronte .seme {
  font-size: calc(10px + var(--card-font-size));
}
.carta .fronte .corner {
  position: absolute;
  width: var(--card-diagonal-font-size);
  height: var(--card-diagonal-font-size);
}
.carta .fronte .corner:first-of-type {
  top: var(--card-padding);
  right: var(--card-padding);
  transform: rotate(90deg);
}
.carta .fronte .corner:last-of-type {
  bottom: var(--card-padding);
  left: var(--card-padding);
  transform: rotate(-90deg);
}
.carta .retro {
  border: calc(var(--card-padding) - 5px) solid #eee;
  transform: rotateY(0deg);
  opacity: 0;
  --c: #111;
  --s: 30px;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,
  var(--l) 68% 70%,
  #0000 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s), repeating-conic-gradient(var(--c) 0 25%, rgba(0, 0, 0, 0) 0 50%) 0 0/var(--_s), radial-gradient(var(--_c)) 0 calc(var(--s) / 2)/var(--s) var(--s) var(--c);
}
.carta .retro.rosso {
  --c: var(--rosso);
  --l: rgb(203, 123, 123);
}
.carta .retro.nero {
  --c: var(--nero);
  --l: #555;
}
.carta.coperta .fronte {
  transform: rotateY(180deg);
  opacity: 0;
}
.carta.coperta .retro {
  transform: rotateY(180deg);
  opacity: 1;
}

#display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bc);
  overflow-y: scroll;
  padding-bottom: 150px;
}

#game {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.cont-vite {
  display: flex;
}

#vite_dealer,
#vite {
  font-size: 2.5em;
}

#log {
  display: block;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 1.17em;
  max-height: 150px;
  gap: 10px;
  overflow: scroll;
  border-top: 1px solid var(--hr-color);
  border-bottom: 1px solid var(--hr-color);
}
#log::-webkit-scrollbar {
  display: none;
}

.gadgets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 10px 0;
}
.gadgets-container .btn {
  padding: 5px;
  font-size: 2.5em;
  border-radius: 7px;
}

#gadgets_dealer {
  position: relative;
}
#gadgets_dealer::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: transparent;
}

#fixed_deck {
  position: fixed;
}
#fixed_deck .carta {
  position: fixed;
  bottom: 10px;
  right: 30px;
}

#death_screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=main.css.map */